In [1]:
import re
import pandas as pd

Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

Sample Text- 'Python Exercises, PHP exercises.'

Expected Output: Python:Exercises::PHP:exercises:

In [2]:
string=r'Python Exercises, PHP exercises.'
pattern='\s|,|\.'

replace_string=re.sub(pattern,':',string)
print("Output string: ",replace_string)

Output string:  Python:Exercises::PHP:exercises:

Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}

Expected output-

0      hello world

1             test

2    four five six

In [3]:
dic={'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df=pd.DataFrame(dic)
pattern='[^a-zA-Z+]|[X+]'

df['SUMMARY']=df['SUMMARY'].map(lambda x: re.sub(pattern, ' ', x))

df

                  SUMMARY
0           hello  world
1                    test
2     four  five   six

Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [4]:
def fun():
    string='This string is for testing purpose only'
    com=re.compile(r'\w{4,}')
    result=com.findall(string)
    print(result)
fun()

['This', 'string', 'testing', 'purpose', 'only']

Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [5]:
def fun():
    string='This string is for testing purpose for three, four and five character words'
    com=re.compile(r'\b\w{3,5}\b')
    result=com.findall(string)
    print(result)

fun()

['This', 'for', 'for', 'three', 'four', 'and', 'five', 'words']

Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

Expected Output:

example.com

hr@fliprobo.com

github.com

Hello Data Science World

Data Scientist

In [6]:
def fun():
    sample_text=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
    com=re.compile(r'\(|\)|')
    list_string=[]
    for text in sample_text:
        replace=com.sub('',text)
        list_string.append(replace)
    print(list_string)
    
fun()

['example .com', 'hr@fliprobo .com', 'github .com', 'Hello Data Science World', 'Data Scientist']

Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.

Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]

Note- Store given sample text in the text file and then to remove the parenthesis area from the text.

In [7]:
sample_text=["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

com=re.compile(r'\s\(.*\)')
list_string=[]

for text in sample_text:
    replace=com.sub('',text)
    list_string.append(replace)
print(list_string)

['example', 'hr@fliprobo', 'github', 'Hello', 'Data']

Question 7- Write a regular expression in Python to split a string into uppercase letters.

Sample text: “ImportanceOfRegularExpressionsInPython”

Expected Output: [‘Importance’, ‘Of’, ‘Regular’, ‘Expression’, ‘In’, ‘Python’]

In [8]:
sample_text= "ImportanceOfRegularExpressionsInPython"
pattern=('[A-Z][^A-Z]*')
split=re.findall(pattern,sample_text)
print(split)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

Question 8- Create a function in python to insert spaces between words starting with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

Expected Output: RegularExpression 1IsAn 2ImportantTopic 3InPython

In [9]:
def fun():
    sample_text='RegularExpression1IsAn2ImportantTopic3InPython'
    pattern=r'([A-Za-z]+)(\d+)'
    replace=re.sub(pattern,r'\1 \2',sample_text)
    return replace

fun()

'RegularExpression 1IsAn 2ImportantTopic 3InPython'

Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
    
Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [10]:
def fun():
    sample_text='RegularExpression1IsAn2ImportantTopic3InPython'
    pattern=r'([A-Za-z]+|\d+)'
    replace=re.sub(pattern,r' \1',sample_text)
    return replace

fun()

' RegularExpression 1 IsAn 2 ImportantTopic 3 InPython'

Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [11]:
url='https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv'

data=pd.read_csv(url)
df=pd.DataFrame(data)

pattern=r'\b\w{1,6}'
df['first_five_letters']=df['Country'].str.findall(pattern)

df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,[Switze]
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,[Icelan]
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,[Denmar]
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,[Norway]
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,[Canada]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,[Rwanda]
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,[Benin]
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,[Syria]
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,[Burund]
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,[Togo]

Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [12]:
string = input("Enter a string: ")
pattern=r'^[A-Za-z0-9_]*$'
match=re.match(pattern,string)
print(match)

Enter a string: String123
<re.Match object; span=(0, 9), match='String123'>

Question 12- Write a Python program where a string will start with a specific number.

In [13]:
pattern=r'^\d{1}.+'
string = input("Enter a string: ")
match=re.match(pattern,string)
print(pattern, match)

Enter a string: 1String
^\d{1}.+ <re.Match object; span=(0, 7), match='1String'>

Question 13- Write a Python program to remove leading zeros from an IP address

In [14]:
ip=input("Enter the IP address: ")
pattern='(^|\.)0+(?=[^.])'
rev_ip=re.sub(pattern,r'\1',ip)
print("The revised IP address: ",rev_ip)

Enter the IP address: 00192.00168.01.01
The revised IP address:  192.168.1.1

Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’.

Expected Output- August 15th 1947

Note- Store given sample text in the text file and then extract the date string asked format.

In [15]:
file=open("DateExtract.txt",'r')

sample_text=file.read()

pattern='[A-Z][a-z]+\s\d{1,2}(?:st|nd|rd|th)\s\d{4}'

date=re.findall(pattern,sample_text)
print(date)

['August 15th 1947']

Question 15- Write a Python program to search some literals strings in a string. 

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox', 'dog', 'horse'

In [16]:
sample_text = 'The quick brown fox jumps over the lazy dog.'

pattern='(fox|dog|horse)'

find=re.findall(pattern,sample_text)

print(find)

['fox', 'dog']

Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

Sample text : 'The quick brown fox jumps over the lazy dog.'

Searched words : 'fox'

In [17]:
sample_text='The quick brown fox jumps over the lazy dog.'

pattern='fox'

match=re.search(pattern,sample_text)

print(match)
print("Start position: ", match.start(),'\n',"End position: ",match.end())

<re.Match object; span=(16, 19), match='fox'>
Start position:  16
 End position:  19

Question 17- Write a Python program to find the substrings within a string.

Sample text : 'Python exercises, PHP exercises, C# exercises'

Pattern : 'exercises'.

In [18]:
sample_text='Python exercises, PHP exercises, C# exercises'

pattern='exercises'

match=re.findall(pattern,sample_text)
print(match)

['exercises', 'exercises', 'exercises']

Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [19]:
sample_text='This is a test string to find the match string'

pattern=re.compile(r'string\b')

for match in re.finditer(pattern,sample_text):
        print(match)
        print("Start position: ", match.start(),'\n',"End position: ",match.end())

<re.Match object; span=(15, 21), match='string'>
Start position:  15
 End position:  21
<re.Match object; span=(40, 46), match='string'>
Start position:  40
 End position:  46

Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [20]:
sample_date='2024-01-30'
pattern=r'(\d{4})-(\d{1,2})-(\d{1,2})'
replace=r'\3-\2-\1'

date=re.sub(pattern,replace,sample_date)
print(date)

30-01-2024

Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

Expected Output: ['01.12', '145.8', '3.01', '27.25', '0.25']

In [21]:
def fun():
    sample_text='01.12 0132.123 2.31875 145.8 3.01 27.25 0.25'
    pattern=re.compile(r'\b\d+\.\d{1,2}\b')
    match=pattern.findall(sample_text)
    print(match)
fun()

['01.12', '145.8', '3.01', '27.25', '0.25']

Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [22]:
def fun():
    sample_text=input("Enter the string: ")
    pattern=re.compile(r'\d+')
    
    for match in pattern.finditer(sample_text):
        print("Matched number: ", match.group())
        print("Start Position: ", match.start())
        print("End Position: ", match.end(),'\n')

fun()

Enter the string: Check no 1 no 2 no 3
Matched number:  1
Start Position:  9
End Position:  10

Matched number:  2
Start Position:  14
End Position:  15

Matched number:  3
Start Position:  19
End Position:  20

Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [23]:
sample_text='My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'

match=re.compile(r'\d+')

num=match.findall(sample_text)

largest_no=max(num)

print("The largest number is: ",largest_no)

The largest number is:  950

Question 23- Create a function in python to insert spaces between words starting with capital letters.

Sample Text: “RegularExpressionIsAnImportantTopicInPython"

Expected Output: Regular Expression Is An Important Topic In Python

In [24]:
def word_spaces():
    sample_text='RegularExpressionIsAnImportantTopicInPython'
    pattern=r'(\w)([A-Z])'
    result=re.sub(pattern,r'\1 \2',sample_text)
    print(result)
    
word_spaces()

Regular Expression Is An Important Topic In Python

Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [25]:
sample_text=input("Enter the string: ")

pattern=re.compile(r'([A-Z][a-z]+)')

result=pattern.findall(sample_text)

print("The sequence is: ")
print(result)

Enter the string: This is a Test for Upper case lower case
The sequence is:
['This', 'Test', 'Upper']

Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

Sample Text: "Hello hello world world"

Expected Output: Hello hello world

In [26]:
sample_text='Hello hello world world'

pattern=re.compile(r'(\w+)\s+(\1)')

result=pattern.sub(r'\1 ',sample_text)

print(result)

Hello hello world

Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [27]:
sample_text=input("Enter a string: ")
pattern=r'\w$'

if re.search(pattern, sample_text):
    print("String accepted!")
else:
    print("String rejected!")

Enter a string: Check123
String accepted!

Question 27-Write a python program using RegEx to extract the hashtags.

Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

Expected Output: ['#Doltiwal', '#xyzabc', '#Demonetization']

In [28]:
sample_text="""RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

pattern=r'#\w+'

match=re.findall(pattern,sample_text)

print(match)

['#Doltiwal', '#xyzabc', '#Demonetization']

Question 28- Write a python program using RegEx to remove <U+..> like symbols

Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

Expected Output: @Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

In [29]:
sample_text='"@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders'

pattern=r'<U\+\w*>'

revised_text=re.sub(pattern,'',sample_text)

print(revised_text)

"@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

Question 29- Write a python program to extract dates from the text stored in the text file.

Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

Note- Store this sample text in the file and then extract dates.

In [30]:
file=open("Date.txt",'r')

text=file.read()

pattern=r'\d{1,2}-\d{1,2}-\d{4}'

dates=re.findall(pattern,text)

print(dates)

['12-09-1992', '15-12-1999']

Question 30- Create a function in python to remove all words from a string of length between 2 and 4.

The use of the re.compile() method is mandatory.

Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

Expected Output:  following example creates ArrayList a capacity elements. 4 elements added ArrayList ArrayList trimmed accordingly.

In [31]:
def fun():
    sample_text='The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.'
    pattern=re.compile(r'\b\w{2,4}\b')
    
    rev_text=pattern.sub('',sample_text)
    
    print(rev_text)
    
fun()

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.